.section-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 30px;
    @include desktop {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;           }
}