.footer-adress {
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
           margin-bottom: 0;
        }

}
.footer-logo {
    display: inline-block;
    margin-bottom: 28px;
}

.footer-logo-accent {
    color: var(--white-color);
}

.footer-list-item:not(:last-child) {
    margin-bottom: 12px;
}

.footer-link-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $functionCubic;
    &:hover,
    &:focus {
            color: var(--main-blue-color);
        }
}