.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
    text-align: center;
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
}

.footer-wrap {
    align-items: baseline;
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 60px;
        }
        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
            gap: 70px;

        }
}



