:root {
    --white-color: #ffffff;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --main-blue-color: #2196f3;
    --main-fill-color: #afb1b8;
    --fist-background-color: #ffffff;
    --second-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --border-color: #eeeeee;
    --background-item-color: #f5f4fa;
    --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
$fontLogo: Raleway, sans-serif;
$functionCubic: cubic-bezier(0.4, 0, 0.2, 1);
$gradient: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4));