/* Main (Hero) */
.main {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: $gradient, url(../../images/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: $gradient, url(../../images/hero/hero-bg-mob-2x.jpg);
  }
  @include mobile {
    background-image: $gradient, url(../../images/hero/hero-bg-tab.jpg);
    @include retina {
      background-image: $gradient, url(../../images/hero/hero-bg-tab-2x.jpg);
    }
  }
  @include tablet {
    background-image: $gradient, url(../../images/hero/hero-bg-desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    @include retina {
      background-image: $gradient, url(../../images/hero/hero-bg-desktop-2x.jpg);
    }
  }
}

.main__title {
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }
}
